<div class="container" id="Board">
  <div *ngFor="let feature of features">
    <div class="customBox" id={{feature.htmlId}}>
      {{feature.name}}
    </div>
    <br>
    <br>
  </div>

</div>
<div>
  <button (click)="saveConnections()">Save</button>
</div>

<!--
<div class="customBox" id="Source">
      Source
    </div>
    <div class="customBox" id="Target1" style="left: 30%">
      Target 1
    </div>

      <div class="customBox" id="Target2" style="left: 60%">
      Target 2
    </div>
-->
